<!DOCTYPE html>
<html>
  <head>
    <title>AMV {{ amv_id }} - {{ tipo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"/>
  </head>
  <body>
    <nav class="navbar bg-primary navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/sitcon" style="font-size: 28px">
          <img
            src="{{ url_for('static', filename='images/train3.png') }}"
            alt="Logo SITCON"
            width="40"
            height="40"
            class="d-inline-block align-text-top me-2"
          /> SITCON
        </a>

        <div class="d-flex">
          <a href="{{ url_for('logout') }}" class="btn btn-outline-light">
            <i class="bi bi-box-arrow-right me-1"></i> Sair
          </a>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <div
        class="alert {{ 'alert-primary' if tipo == 'Comando' else 'alert-success' }}"
      >
        <h2>AMV {{ amv_id }} - {{ tipo }}</h2>
      </div>

      {% for registro in registros %}
      <div class="card mb-4">
        <div
          class="card-header bg-{{ 'primary' if tipo == 'Comando' else 'success' }} text-white"
        >
          Tipo Função: <strong>{{ registro.tipofuncao }}</strong>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              {% for nome, valor in registro.items() %} {% if nome !=
              'tipofuncao' %}
              <tr>
                <td width="30%"><strong>{{ nome }}</strong></td>
                <td>{{ valor }}</td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}

      <a href="/amv" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Voltar</a>
    </div>
      <footer class="mt-5 py-3 bg-light">
      <div class="container text-center">
        <p class="mb-0">SITCON - Sistema de Informações de Trajeto de Condutores</p>
        <p class="mb-0 text-muted">Versão 1.0 | &copy; 2025</p>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
