{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Equipamentos</h1>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Aparelhos de Mudança de Via</h5>
        <a href="/amv" class="d-inline-block mt-3 image-hover">
          <img
            src="{{ url_for('static', filename='images/amv.png') }}"
            alt=""
            class="img-fluid rounded"
            style="max-width: 200px"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Circuitos de Via</h5>
        <a href="/cdv" class="d-inline-block mt-3 image-hover">
          <img
            src="{{ url_for('static', filename='images/cdv.png') }}"
            alt="Acessar CDV"
            class="img-fluid rounded"
            style="max-width: 200px"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Sinais</h5>
        <a href="sinais" class="d-inline-block mt-3 image-hover">
          <img
            src="{{ url_for('static', filename='images/sinal.png') }}"
            alt="Acessar Sinais"
            class="img-fluid rounded"
            style="max-width: 200px"
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}