{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Equipamentos</h1>

<div class="row justify-content-center text-center">
  
  <div class="col-md-4">
    <a href="/amv" class="card-link">
      <div class="card equipment-card">
        <div class="equipment-circle">
          <img src="{{ url_for('static', filename='images/amv.png') }}" alt="AMV" />
          <h5 class="card-title mt-2">AMV</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/cdv" class="card-link">
      <div class="card equipment-card">
        <div class="equipment-circle">
          <img src="{{ url_for('static', filename='images/cdv.png') }}" alt="CDV" />
          <h5 class="card-title mt-2">Circuitos de Via</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="/sinais" class="card-link">
      <div class="card equipment-card">
        <div class="equipment-circle">
          <img src="{{ url_for('static', filename='images/sinal.png') }}" alt="Sinais" />
          <h5 class="card-title mt-2">Sinais</h5>
        </div>
      </div>
    </a>
  </div>

</div>
{% endblock %}